<%- include('../partials/header') %>

<form action="/skills" method="post">
    <input type="text" name="language">
    <button type="submit">Save Skill</button>
</form>

<%- include('../partials/footer') %>
